
.card1-body {
  background-color:#E2E2E4 !important;
  border: solid;
  border-color: black;
  margin-bottom: 1rem;
  width: 15rem;
  height: 12;
  text-align: center;
  padding: .5rem;
}

#marvel {
    max-width: 12rem;
    height: 7rem;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 0;
    margin: 0;
  }

  #weather {
    max-width: 12rem;
    height: 7rem;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 0;
    margin: 0;
  }

  #codebr {
    max-width: 12rem;
    height: 7rem;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 0;
    margin: 0;
  }

  #pup {
    max-width: 12rem;
    height: 7rem;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 0;
    margin: 0;
  }

  #preOverlay {
    max-width: 15rem;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  

  #overlay {
    position: absolute;
    bottom: 0;
    background: #627F96 !important;
    max-width: 15rem;
    height: 7rem;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: .25rem;    
  }


  #overlay:hover {
    opacity: 1;
  }