
.row {
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent;
}

.col {
  background-color: transparent;
  padding: 0 !important;
  margin: 0 !important;
  
}

.container {
    font-family:'Courier New', Courier, monospace;
    /* overflow-y: scroll;
    position: relative; */
    background-color: transparent;
    /* margin: 0 !important;
    padding: 0 !important; */

}

.container::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge add Firefox
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */


.navbar {
  margin: 0;
  padding: 0;
}

.card {
  border: none !important;
  margin: 0!important;
  background-color: transparent !important;
}

.card-body {
  background-color: rgba(255,255,255,1);
  border: solid;
  border-color: black;
  /* box-shadow: 10px 10px 20px black; */
}

.card-text {
  font-weight: bold;
}

.card-title {
  margin-top: 1rem;
}
